@charset "ISO-8859-1";

body {
	background-image: url(WebContent/sea.jpg);
	background-attachment:fixed;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.header {
    height: 120px;
    background-color: pink;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.contentwrap {
    background-color: lightgrey;
}
.contentwrap:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.contentArea {
    float: left;
    width: 800px;
    background-color: silver;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: pink;
    height: 30px;
    clear: both;
    text-align: right;
}

/*navigation*/

.navigation {
    background-color: black;
    overflow: hidden;
}

/* the links inside of the navigationbar*/
.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of link */
.navigation a:hover {
    background-color: pink;
    color: black;
}

/* Add a color to the active/current link */
.navigation a:active {
    background-color: darkgrey;
    color: white;
}


/*formular*/

form{
	width: 500px;
}


.has-error{
    border: 5px;
    border-color: red;
    margin-top: 13px;
 
}

